#ex1Slider .slider-selection {
	background: #BABABA;
	width:340px;
}

.grey {
	background-color: grey;
}

.time-display {
	font-size: 2.3em;
}

.custom {
	width:330px;
	margin-left: 0px;
}

.btn {
	width:330px;
	margin-left: 0px;
}

#ex1 {
	width:330px;
	margin-left: 0px;
}

.btn2 {
	width:330px;
	margin-left: 30px;
}
