.grey {
	background-color: grey;
}

.time-display {
	font-size: 2.3em;
	margin-top: 135px;
}

.weekday {
	width: 23.5em;
	margin-top: 20px;
	margin-bottom: 35px;	 
}

/*sync btn*/
.btn {
	width: 18em;
	margin-left: 0px;
}

.slider {
	margin-bottom: 10px;
}

#sync-btn {
	margin-top: 15px;
	background-color: #f74131;
}
#z-sync-btn {
	margin-top: 125px;
	margin-bottom: 10px;
	background-color: #f74131;
}

#sync-btn.active {
  background-color: #18b700;
}
.color-box {
	padding-left: 10px;
}

#yellow{
	position:absolute;
	background: #dbdb00;
	left: 0px;
	width: 50px;
	padding: 50px;
	border: 1px #f74131;
	margin: 5px;
}
#blue{
	position:absolute;
	background: #277fc6;
	left: 110px;
	width: 50px;
	padding: 50px;
	border: 1px #18b700;
	margin: 5px;

}
#green {
	position:absolute;
	background: #36b722;
	left: 220px;
	width: 50px;
	padding: 50px;
	border: 1px #f74131;
	margin: 5px;
}

.dropdown-menu {
	width: 323px;
	padding:15px;
	padding-bottom:15px;
}

.btn-group {
	margin-top: 10px;
	margin-bottom:10px;
}

#add-btn {
	margin-top:15px;
}

ul.title-content-list > li {
	display: block;
	height:25px;
}

ul.title-content-list > li > div.title {
	float:left;
}

ul.title-content-list > li > div.content {
	float:right;